  #tinymask,
  #tinybox{
  	@media only screen and (max-width:40em) {
		display:none!important;
  	}
  }
  #tinycontent{
  	box-sizing:content-box;
  }
  #tinycontent #button{
    background:none;
  }
  #tinycontent #button button{
    background-color: #048D8A;
    font-size:1rem;
  }
  #tinycontent #button button::after,
  #tinycontent #button button::before{
    display:none;
  }
  #tinycontent a#closeButton{
    background:none!important;
    text-indent:0!important;
    margin-right:10px;
  }
  #tinycontent #closeButton::before{
    content:"\45"!important;
    font-family:"UncommonGoods"!important;
  }
  