 //
 // FOOTER
 //
#site-footer{background-color:#FFF;overflow-x:hidden;}

.prefooter {
	background-color: $white;
	padding-top: 1rem;
    h4 {
        margin-bottom: 0.375rem;
        a {
        	font-family:$font-family-serif;
        }
    }
    p {
        margin-bottom: 1.5rem;
    }
}

#categories {
    background-color: $white;
    .row {
        border-bottom: 1px solid $offwhite;
        &:last-child {
            border-bottom: 0px solid $offwhite;
        }
        a {
        	line-height: normal;
		    padding-top: 1rem;
		    padding-bottom: 1rem;
        }
    }
}

@media #{$medium-only}{
	.prefooter {
		padding-top: 1.5rem;
		.ourContainer {
			flex-direction: column;
			.copyContainer {
				text-align: center;
			}
			a {
				img {
					max-width: 100px;
				}
			}
		}
	}
}
@media #{$large-only}{
	.prefooter {
		.ourContainer {
			a {
				img {
					max-width: 120px;
				}
			}
		}
	}
}
@media #{$large-up} {
	.prefooter {
		padding-top: 2rem;
		.ourContainer {
			display: flex;
			flex-direction: row;
			align-items: center;
			.copyContainer {
				display: flex;
				flex-direction: column;
				text-align: left;
			}
		}
	}
}

#site-footer .accordion{
/*	border:0;*/
	text-transform: capitalize;
}
@media #{$medium-up}{
	#site-footer .accordion{padding-top:1.5rem;}
	#site-footer.accordion .accordion-navigation > a{
		padding-top:0;
	}
	#site-footer .accordion .accordion-navigation > a::after{
		display:none;
	}
	#site-footer .accordion  .accordion-navigation > .content{
		display:block;
		padding-left:0;
		padding-right:0;
	}
	#site-footer .accordion .accordion-navigation{
		border:none;
	}
}

#site-footer a[href='/sitemap.html'],
#site-footer a[href='/static/terms.jsp'],
#site-footer a[href='https://nytm.org/made']{
	margin-right:1em;
}
@media #{$small-only}{
	#site-footer a[href='/sitemap.html'],
	#site-footer a[href='/static/terms.jsp']{
		display:none;
	}
}
#socialNetworks a + a {
    margin-left: 12px;
}
#site-footer .icon-facebook{
	color:$facebook;
}
#site-footer .icon-twitter{
	color:$twitter;
}
#site-footer .icon-instagram{
	color:black;
}
#site-footer .icon-pinterest{
	color:$pinterest;
}
#site-footer .icon-googleplus{
	color:$googleplus;
}
#site-footer #spread-seals img{
	height:2.25rem;
}
 //
 // END FOOTER
 //
